conda.enabled = true
docker.enabled = true

run_virtuoso.container = 'tenforce/virtuoso:latest'

profiles {
    standard {
        process {
            executor = 'local'
        }
    }
    genouest {
        process {
            executor = 'slurm'
            queueSize = 50
            memory = '2 GB'
        }
    }
}

params  {
    forumRelease = "202305"

    /* avoid to build void.ttl and so to load big rdf graph */
    testDev = 'true' 
    
    repogit = 'https://github.com/eMetaboHUB/Forum-DiseasesChem.git'
    localForumSources = "forum-sources"
    rdfoutdir= "${PWD}/virtuoso"
    virtuosodir = "${PWD}/virtuoso-docker"
    configdir= 'config'
    logdir= 'log'

    meshVersion = "2023"

    entrez {
        apikey = "30bc501ba6ab4cba2feedffb726cbe825c0a" /* https://eutils.ncbi.nlm.nih.gov/entrez/eutils/ */
        pack_size = 5000
        timeout = 1200
        max_triples_by_files = 5000000
        run_as_test = false
    }

    chemont {
        nbprocess = 8
    }
}